<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cari.css">
</head>
<body>
    <div class="container">
        <div class="con">
            <div class="ccon">
                <div class="judul"><h1>Pencarian Data</h1></div>
                <div class="nav">
                    <div class="back a">
                        <div class="tulisan_back"><a href="daftar.ejs">Back</a></div>
                    </div>
                    <div class="search">
                        <form action="/search" method="post" class="Fsearch">
                            <input type="text" name="search" placeholder="cari" class="Isearch">
                            <div class="indukGambarSearch">
                                <img src="search.png" class="gambarSearch" alt="">
                            </div>
                            
                        </form>
                    </div>
                    
                
            </div>
            <div class="tabel">
                <table>
                    <tr class="head">
                        <th>No Laporan</th>
                        <th>Nama Pelanggan</th>
                        <th>Kontak</th>
                        <th>Jenis Komplain</th>
                        <th>Detail Komplain</th>
                        <th>Status</th>
                        <th>Aksi</th>
                        
                    </tr>
                                        
                    
                    <% let aksi = komplain.reverse() %>
                    

                    <% aksi.forEach(e=> { %>
                        <tr>
                            <td><%= e.No_Laporan %></td>
                            <td><%= e.Nama %></td>
                            <td><%= e.Kontak %></td>
                            <td style="font-weight: bold;font-size: 14px;font-family: tahoma;"><%= e.Jenis_Komplain  %></td>
                            <td class="ovv" ><%= e.Detail_Komplain %></td>
                            <td><% if(e.Status == 'Not Started'){%><span style="color:red;font-weight: bold;font-size: 11px;font-family: tahoma"><%= e.Status %></span><%}%>
                                <% if(e.Status == 'Done'){%><span style="color:rgb(55, 205, 0);font-weight: bold;font-size: 11px;font-family: tahoma"><%= e.Status %></span><%}%>
                                <% if(e.Status == 'In Progress'){%><span style="color:rgb(36, 55, 255);font-weight: bold;font-size: 11px;font-family: tahoma"><%= e.Status %></span><%}%>
                            </td>
                            <td class="HU">
                                <div class="aksi">
                                    <form action="/hapusCari" method="post" class="form_hapus">
                                        <input type="hidden" name="nam" value="<%= e.Nama %>">
                                        <img src="delete.png" alt="" class="hapus" title="hapus">
                                        <input type="submit" value="hapus" class="input_hapus">
                                    </form>
                                    

                                    <form action="/ubahNot" method="post" class="form_ubah">
                                        <input type="hidden" name="nam" value="<%= e.Nama %>">
                                        <img src="refresh.png" alt="" class="ubah" title="ubah">
                                        <input type="submit" value="ubah" class="input_ubah" >
                                    </form>
                                </div>
                        </tr>
                     
                    <% }) %>
                    <tr>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                        <td>-------</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
        </div>
    </div>
</body>
</html>